<header class="page-header">
  <h1>{{ title }}</h1>
  <p>
    Cart: {{ productsService.productCart().length }} -
    {{ productsService.productCartTotal() }}
  </p>
</header>
<section class="container">
  <!-- Product lists -->
  <section class="product-listing">
    <ul>
      @for(product of productList(); track product.name){
      <li class="product-card">
        <img class="product-image" [src]="product.image" alt="{{ product.name }}" width="150" height="214" />
        <div class="product-info">
          <p class="product-price">{{ product.price }}</p>
          <p class="product-name">{{ product.name }}</p>
          <button (click)="addToCart(product)" class="add-to-cart-btn">
            Add to Cart
          </button>
        </div>
      </li>
      }
    </ul>
  </section>

  <!-- AI Chatbot -->
  <section class="agent-window">
    <section class="chat-history" #chatHistoryContainer>
        @for(message of messageHistory(); track message){
        <p class="{{ message.sender }}-message">{{ message.text }}</p>
        }
    </section>
    <div class="control-sections">
      <label for="user-question" #scroll>
        <p class="user-question-label">Ask the shopping helper a question</p>
        <input
        id="user-question"
        class="chat-input"
        (keyup.enter)="submitMessage(questionInput)"
        type="text"
        #questionInput
        />
      </label>
        <button class="submit-btn" (click)="submitMessage(questionInput)">Send</button>
    </div>
  </section>

</section>

<router-outlet />
